*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  div.feedback-section{
    background: url(../DesignPic/Pictures/feedback_pic.jpg) no-repeat center;
    background-size: cover;
    padding: 5% 0;
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 4rem;
        text-align: center;
        color: white;
      }

      div.border{
        width: 18rem;
        height: 10px;
        background: #34495e;
        margin: 40px auto;
        margin-top: 10px;
      }
      
      form.feedback-form{
        min-width: 30vw;
        margin: 0 ;
        padding: 0 10px;
        overflow: hidden;

        input.feedback-form-text{
            display: block;
            min-width: 100%;
            box-sizing: border-box;
            margin: 16px 0;
            border: 0;
            background: #111;
            padding: 20px 40px;
            outline: none;
            color: #ddd;
            transition: 0.5s;
    
            &:focus{
                box-shadow: 0 0 10px 4px #34495e;
              }
          }

          textarea.feedback-form-text{
            resize: none;
            min-width: 30vw;
            min-height: 10rem;
          }
          input.feedback-form-btn{
            float: right;
            min-height: 10rem;
            border: 0;
            padding: 1rem;
            background: #34495e;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
    
            &:hover{
                background: #2980b9;
              }
          } 
      }   
  }
    
  