* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*=================== header-nav ==================*/
header {
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
  height: 4em;
  max-height: 4em;
  -webkit-box-shadow: 0 10px 15px -15px;
          box-shadow: 0 10px 15px -15px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 7;
      -ms-flex: 7 1 200px;
          flex: 7 1 200px;
  margin-left: 2rem;
}

header .logo a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo a img {
  width: 4vw;
  height: 4vw;
}

header nav {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 200px;
          flex: 3 1 200px;
  height: 4em;
  white-space: nowrap;
}

header nav .menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: black;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4em;
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  height: 3em;
}

header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  padding: 0 15px;
  height: 100%;
}

header nav ul li a:hover {
  color: white;
  background-color: black;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
  cursor: pointer;
}

/*======================= main ==========================*/
main section.backImage {
  min-width: 100%;
  min-height: 90vh;
  background-image: url(../DesignPic/Pictures/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  /*================== filter ============================*/
}

main section.backImage .filter {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 100%;
  min-height: 90vh;
  position: absolute;
  top: 0;
  z-index: -100;
}

main section.backImage div.title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.backImage div.title h3.titleText {
  color: white;
  font-size: 4rem;
  margin: 4rem 0 1rem 0;
}

main section.backImage div.title h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  -webkit-animation: fade-in 4s ease 0s 1;
          animation: fade-in 4s ease 0s 1;
}

main section.backImage div.title div button {
  min-width: 8rem;
  padding: 12px 20px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #84f584;
  font-size: 1rem;
  background: none;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

main section.backImage div.title div button:hover {
  color: black;
}

main section.backImage div.title div button:hover::before {
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

main section.backImage div.title div button::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: #84f584;
  left: 0;
  top: 0;
  z-index: -5;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scalex(0);
          transform: scalex(0);
}

/*========================= second page ============================*/
section.second {
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../DesignPic/Pictures/bg21.JPG);
  background-size: cover;
  background-position: center;
  min-width: 100%;
  min-height: 90vh;
  position: relative;
  z-index: 0;
}

section.second h2 {
  color: black;
  font-size: 1.5rem;
  margin: 4rem 0 2rem 0;
}

section.second section.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 70vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.second section.cards div.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

section.second section.cards div.card .ImageScale {
  overflow: hidden;
  width: 15vw;
  border-radius: 50%;
}

section.second section.cards div.card .ImageScale img {
  width: 15vw;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

section.second section.cards div.card .ImageScale img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

section.second section.cards div.card a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  padding: 0.25rem 1.5rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

section.second section.cards div.card a:hover {
  color: white;
  background-color: black;
}

section.second section.cards div.card h4 {
  color: black;
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}

section.second section.cards div.card p {
  font-size: 1.25rem;
  color: white;
}

/*========================= third page ============================*/
section.third {
  background-color: #0a0f2c;
  min-width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.third div.thItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  min-height: 70vh;
}

section.third div.thItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

section.third div.thItem .sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

section.third div.thItem .sample img {
  width: 13vw;
  height: 13vw;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.third .th1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.third .th2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section.third div.thText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

section.third div.thText h3 {
  text-align: center;
  font-size: 3rem;
}

section.third div.thText p {
  color: white;
  text-align: center;
}

/*========================= fourth page ============================*/
section.fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  min-height: 90vh;
  color: white;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.fourth h2 {
  font-size: 3rem;
  margin: 4rem 0 7rem 0;
}

section.fourth div.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 70%;
}

section.fourth div.wrap div.fourthItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

section.fourth div.wrap div.fourthItems div.fourthItem {
  margin: 1rem;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 150px;
          flex: 1 1 150px;
}

section.fourth div.wrap div.fourthItems div.fourthItem img {
  width: 15vw;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

section.fourth div.wrap div.fourthItems div.fourthItem img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.fourth div.wrap div.fourthItems h4 {
  font-size: 25px;
  color: black;
}

section.fourth div.wrap div.fourthItems h4:hover {
  font-weight: bold;
  cursor: pointer;
}

section.fourth div.wrap div.fourthItems p {
  font-size: 20px;
  color: black;
  margin: 0.5rem 0 0 0;
}

/*========================= join page ============================*/
section.joinUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0f2c;
}

section.joinUs div.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  min-height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.joinUs div.join h4.join_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 25px;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

section.joinUs div.join h4.join_left div.scoller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
  line-height: 1.7em;
  position: relative;
  overflow: hidden;
  width: 15rem;
}

section.joinUs div.join h4.join_left div.scoller span {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  -webkit-animation: slide 7s infinite;
          animation: slide 7s infinite;
  font-weight: bold;
}

@-webkit-keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

section.joinUs div.join div.join_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 15em;
}

section.joinUs div.join div.join_right p {
  color: white;
  font-size: 25px;
}

section.joinUs div.join div.join_right a {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 2px solid black;
  font-size: 1.25rem;
  margin: 1rem 0 0 0;
  padding: 0.25rem 1.5rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

section.joinUs div.join div.join_right a:hover {
  color: white;
  background-color: black;
}

/*========================= footer page ============================*/
footer {
  width: 100%;
  min-height: 15vw;
  background-color: white;
}

footer div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer div.info div.footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

footer div.info div.footerLogo img {
  width: 3vw;
  height: 3vw;
}

footer div.info div.footerLogo h1 {
  font-size: 2rem;
  color: black;
}

footer div.info div.contact {
  text-align: center;
}

footer div.info div.contact h4 {
  font-size: 1rem;
}

footer div.info section.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.info section.link a {
  margin: 0 1rem;
}

footer div.info section.link img {
  width: 3vw;
  height: 3vw;
}

footer div.info p {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

/*keyframe*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*=============================== media =================================*/
@media screen and (max-width: 900px) {
  header div.logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul a {
    padding: 0.5rem;
  }
  main section.backImage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.backImage div.title h3.titleText {
    font-size: 3rem;
  }
  main section.backImage div.title h3.titleText h2 {
    font-size: .7rem;
  }
  main section.third div.thItems div.thItem div.th1 div.sample img {
    width: 25vw;
    height: 25vw;
    padding: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.third div.thItems div.thItem div.th2 div.sample img {
    width: 25vw;
    height: 25vw;
    padding: 5px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.fourth div.wrap div.item img {
    width: 25vw;
    height: 25vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer div.footerLogo img {
    width: 5vw;
    height: 5vw;
  }
  footer section.link img {
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (max-width: 500px) {
  header div.logo a img {
    width: 10vw;
    height: 10vw;
  }
  main section.backImage {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.backImage div.title h3.titleText {
    font-size: 2.4rem;
  }
  main section.backImage div.title h3.titleText h2 {
    font-size: .5rem;
  }
  main section.second section.cards div.card div.ImageScale {
    overflow: hidden;
    min-width: 40vw;
    border-radius: 50%;
  }
  main section.second section.cards div.card div.ImageScale img {
    min-width: 40vw;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  main section.third div.thItems div.thItem div.th1 div.sample img {
    width: 30vw;
    height: 30vw;
  }
  main section.third div.thItems div.thItem div.th2 div.sample img {
    width: 30vw;
    height: 30vw;
  }
  main section.third div.thItems div.thText h3 {
    font-size: 2.7rem;
  }
  main section.fourth h2 {
    font-size: 2.7rem;
  }
  main section.fourth div.wrap div.fourthItems div.fourthItem {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
  main section.fourth div.wrap div.fourthItems div.fourthItem img {
    width: 40vw;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.joinUs div.join {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer div.info div.footerLogo img {
    width: 10vw;
    height: 10vw;
  }
  footer div.info section.link a img {
    width: 10vw;
    height: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */